#container {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  height: 375px;
  width:80%;
}
#title-container{
  padding:10px;
}
#title{
  height:30px;
  width:250px;
  padding:5px;
}
#save{
  background-color: #ffa42e;
  color: #ffffff;
  border-style: none;
  border-radius: 3px;
  margin: 2px;
  height: 30px;
  width: 50px;

}
