/*
bodybackground #f6f8f8
panel background #ecf0f1
font #5a6673
*/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(images/material_icons.woff2) format('woff2'),
       url(images/material_icons.woff) format('woff'),
       url(images/material_icons.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

*{
  margin:0;
  padding:0;
}
body{
  background-color: #F5F5F5;
}

#header{
  width:100%;
  height:50px;
  background-color:#5a6673;
  position:fixed;
  top:0;
  left:0;
  z-index:99;
}

#logo{
  margin-left: 23px;
  font-size: 40px;
  color:#f6f8f8;
}

#main_panel{
  width:90%;
  height:100%;
  margin-left:auto;
  margin-right:auto;
  background-color: #00a185;

}

#pool{
  width:100%;
  margin-left:auto;
  margin-right:auto;
  min-height: 800px;
}

#mastery{
  width:85%;
  margin-left:auto;
  margin-right:auto;
  margin-top: 20px;

  -moz-border-radius: 5px;      /* Gecko browsers */
  -webkit-border-radius: 5px;   /* Webkit browsers */
  border-radius:5px;            /* W3C syntax */
}

.mastery{
  background-color: #00a185;
  font-size: 20px;
  color:#5a6673;
  text-align: center;
  line-height: 40px;
  padding:5px;
  margin:5px;

  -moz-border-radius: 5px;      /* Gecko browsers */
  -webkit-border-radius: 5px;   /* Webkit browsers */
  border-radius:5px;            /* W3C syntax */
}
.mastery:hover{
  background-color: #ecf0f1;
  font-size: 20px;
  color:#5a6673;
  text-align: center;
  line-height: 40px;
  padding:5px;
  margin:5px;

  -moz-border-radius: 5px;      /* Gecko browsers */
  -webkit-border-radius: 5px;   /* Webkit browsers */
  border-radius:5px;            /* W3C syntax */
}



#point{
  width:85%;
  margin-left:auto;
  margin-right:auto;
  margin-top: 20px;
  background-color: #ecf0f1;
  height: 60px;
  min-width: 800px;
  max-width: 1400px;
  min-height: 200px;

  -moz-border-radius: 5px;      /* Gecko browsers */
  -webkit-border-radius: 5px;   /* Webkit browsers */
  border-radius:5px;            /* W3C syntax */
}

.point{
  font-size: 20px;
  color:#5a6673;
  line-height: 40px;
  margin:5px;
  border-bottom: 1px solid #ecf0f1;
}
