table {
	font-family: verdana,arial,sans-serif;
	font-size:15px;
	color:#333333;
/*
	border-width: 1px;
	border-color: #666666;
*/
	border-collapse: collapse;
  margin:20px auto;
}
table th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #ffffff;
	background-color: #ffa42e;
    color:#ffffff;
}
table td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #ffffff;
	background-color: #eeeeee;
}
.pwd-input{
    border: 2px solid #fff;
    height: 26px;
    line-height: 26px;
    width: 150px;
    padding-left: 2px;
    padding-right: 2px;
    vertical-align: bottom;
}
#updatePwdBtn{
  width:100px;
}
#userSetting{
  margin:100px auto;
  text-align: center;
}
