.timeline{
    color:#373737;
    width: 100%;
    margin-top: 20px;
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.25);
    position:relative;
}

.task_panel{
    font-size: 15px;
    width:23%;
    min-width:230px;
    min-height: 120px;
    line-height: 25px;
    background-color: #fff;
    margin:1%;
    padding:1%;
    box-shadow: 0 2px 1px 0 rgba(0,0,0,0.25);
    display: inline-block;
    vertical-align: top;
}
.task_panel .title{
    padding-right: 20px;
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.25);
}
.operator{
    top:3px;
}
.sprint-year{
  font-size:25px;
  vertical-align: bottom;
}
.takeTime{
  margin-left: 5px;
}
.startTime{
  margin-left: 5px;
}
.lh{
  min-height: 30px;
}
.orderSetting{
  position:absolute;
  top:10px;
  right:5px;

}
.btn-orderSetting{
  width:50px;
  height:20px;
  
}
