.note{
  position: relative;
    width: 100%;
    min-height: 100px;
    background-color: #fff;
    margin: 20px 0;
    padding: 10px;
    box-shadow: 0 2px 0 0 rgba(3,5,6,0.25);
}
.oper{
  color:#999;
  font-size: 13px;
  text-align: right;
  position:absolute;
  bottom:10px;
  right:10px;
}
