*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url("../font/material_icons.woff2") format('woff2'),
       url(../font/material_icons.woff) format('woff'),
       url(../font/material_icons.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1.5em;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';

    vertical-align: middle;
}

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.material-icons.md-1 { font-size: 1em; }
.material-icons.md-2 { font-size: 2em; }


body{
    background-color: #eeeeee;
    color:#356;
    font: normal 100% Helvetica, Arial, sans-serif;
}
a{
    text-decoration:none;
    color:#ffa42e;
}
a:hover{
    color:#ffa41e;
}
a:active{

}
a,input,button{ outline:none; }
::-moz-focus-inner{border:0px;}

body{
  background-color: #F5F5F5;
  font-size: 1em;
}
.container{
    width:80%;
    margin-left: auto;
    margin-right: auto;
}
#nav{
    position:fixed;
    top:0;
    left:0;
    right:0;
    min-height:50px;
    background-color:#ffa42e;
    z-index:99;
}
#nav a{
  margin: 0 9px;
  color:#fff;
}
#logo{
  display: inline-block;
  float:left;
  color:#ffffff;
  margin-left:20px;
  font-size:35px;
  padding-top:5px;
}
#logo span{
  vertical-align: bottom;
}
#nav-panel{
    float:right;
    display: inline-block;
    padding-top:15px;
    padding-bottom:15px;
    margin-right:20px;
}
.to-head-arrow{
    position:fixed;
    right:20px;
    bottom:30px;
    background-color:#ffa42e;
    color:#fff;
    border-radius:5px;
}
.to-head-arrow a{
  color:#fff;
}
.biji-normal-input {
    border: 2px solid #fff;
    height:26px;
    width:200px;
    padding-left: 2px;
    padding-right: 2px;
    vertical-align: bottom;
}
.biji-large-input {
  border: 2px solid #fff;
  height:40px;
  line-height: 40px;
  width:200px;
  margin:5px 0;
  padding:5px;
}
.biji-normal-btn {
    background-color: #ffa42e;
    border: 2px solid #fff;
    color:#fff;
    height:26px;
    width:40px;
    font-size:16px;
    font-weight: bold;
}
.biji-normal-btn:hover {
    background-color:#ff941e;
}
.biji-normal-btn:active {
    position:relative;
    top:1px;
}
.biji-fff-btn{
    color:#ff941e;
    background-color: #fff;
    border:1px solid #ff941e;
    border-style: none;
    height:20px;
    width:20%;
}
.biji-fff-btn:hover {
    color: #ffffff;
    background-color:#ff941e;
}
.biji-fff-btn:active {
    background-color:#ff942e;
    /*position:relative;
    top:1px;*/
}
.biji-fff-btn:disabled{
  color:#ffa42e;
  background-color: #eee;
}

.biji-normal-link {
    text-align: center;
    display: inline-block;
    background-color: #ffa42e;
    border: 2px solid #fff;
    color:#fff;
    height:26px;
    width:40px;
    font-size:1em;
    font-weight: bold;
}
.biji-normal-link:hover {
    background-color:#ff941e;
    color:#fff;
}
.biji-normal-link:active {
    position:relative;
    top:1px;
}
.panel{
    width:22%;
    min-width:230px;
    min-height: 50px;
    background-color: #fff;
    margin:10px;
    padding:10px;
    box-shadow: 0 2px 1px 0 rgba(3,5,6,0.25);
    display: inline-block;
    vertical-align: top;
}
.panel .record{
  margin: 10px auto;
  box-shadow: 0 1px 0 0 rgba(3,5,6,0.25);
}
.panel .title{
  font-size:0.8em;
}
.panel button{
  -moz-user-select:none;
  -webkit-user-select:none;
  user-select:none;
}
.panel a{
  font-size:0.8em;
  -moz-user-select:none;
  -webkit-user-select:none;
  user-select:none;
}
.oper-container{
  margin-top: 100px;
  text-align: right;
  padding: 10px;
}
