*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(material_icons.woff2) format('woff2'),
       url(material_icons.woff) format('woff'),
       url(material_icons.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
    
    vertical-align: middle;
}

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
        
.material-icons.md-15 { font-size: 15px; }
.material-icons.md-25 { font-size: 25px; }
.material-icons.md-50 { font-size: 50px; }
        
body{
    background-color: #eeeeee;
    font: normal 100% Helvetica, Arial, sans-serif;
}
a{
    text-decoration:none;
    color:#ffffff;
}
a:hover{
    color:#eee;
}
a:active{
    position:relative;
    top:1px;
}
a,input,button{ outline:none; }
::-moz-focus-inner{border:0px;}
.btn{
    padding:0 10px;
    background-color: #ffa42e;
    color:#ffffff;
    border-style: none;
    border-radius: 3px;
    margin:0px;
}
.btn:hover {
    background-color:#ff941e;
}
.btn:active {
    position:relative;
    top:1px;
}