extends layout
block css
  link(rel='stylesheet', href='/stylesheets/backend.css')
block js
  script(src='/javascripts/backend.js')
body
block content
  include head.jade
  div(class="container")
  table(id="task")
    tr
      th 名称
      th 创建时间
      th 开始时间
      th 完成时间
      th 使用时间
      th 状态
      th 更新
      th 删除
