extends layout
block css
  link(rel='stylesheet', href='/stylesheets/backend.css')
block js
  script(src='/javascripts/backend.js')
body
block content
  include head.jade
  div(class="container")
    div(id="userSetting")
      input(type="password" id = "oldPwd" class="pwd-input" placeholder="旧密码",maxlength="20" )
      input(type="password" id = "newPwd" class="pwd-input" placeholder="新密码",maxlength="20" )
      input(type="password" id = "newPwdConfirm" class="pwd-input" placeholder="新密码确认",maxlength="20" )
      button(id = "updatePwdBtn" class="oper-btn") 修改密码

  include moveToHead.jade
