extends layout
block css
  link(rel='stylesheet', href='/stylesheets/backend.css')
block js
  script(src='/javascripts/backend.js')
body
block content
  include head.jade
  div(id="main_panel")
    div(id="pool")
      div(id="mastery")
      div(id="point")
