div(id = "nav" )
  span(id = "logo")
    a(href = "/")
      i(class = "material-icons" ) explore
      span() snshine
  span( id = "nav-panel")
    a(href = "/" )
      i(class = "material-icons") home
    a(href = "/playground" )
      i(class = "material-icons") mode_edit
    a(href = "/backend")
      i(class = "material-icons") tag_faces
    a(href = "/login/exit" )
      i(class = "material-icons") exit_to_app
