div(id = "nav" )
  span(id = "logo")
    a(href = "/")
      i(class = "material-icons" ) explore
      span() snshine
  span( id = "nav-panel")
    a(href = "/" )
      i(class = "material-icons") home
    a(href = "/backend" target="_blank")
      i(class = "material-icons") settings
    a(href = "/login/exit" )
      i(class = "material-icons") exit_to_app
