div(id = "nav" )
  div(id = "logo")
    a(href = "/")
      i(class = "material-icons" ) explore
      span() snshine
  div( id = "nav-panel")
    a(href = "/" )
      i(class = "material-icons") timeline
    a(href = "/" )
      i(class = "material-icons") date_range
    a(href = "/note")
      i(class = "material-icons") subject
    a(href = "/note/edit/_" )
      i(class = "material-icons") edit
    a(href = "/backend")
      i(class = "material-icons") tag_faces
    a(href = "/login/exit" )
      i(class = "material-icons") exit_to_app
