extends layout
block css
  link(rel='stylesheet', href='/stylesheets/index.css')
block js
  script(src='/javascripts/bijiPanel.js')
  script(src='/javascripts/index.js')
body
block content
    include head.jade
    div(id = "add-panel" )
      input(type="text" class="add-input" placeholder="create",maxlength="50" )
      button(id = "add-btn" class="oper-btn" )
        i(class = "material-icons") add
    div(class = "container")

    include moveToHead.jade
