extends layout
block css
  link(rel='stylesheet', href='/stylesheets/login.css')
block js
  script(src='/javascripts/login.js')
body
block content
  div(class = "login-container")
    div
      span(id = "login-logo")
        a(href = "/")
          i(class = "material-icons" ) explore
          span() snshine
    div
      input(type="text",class="biji-large-input",placeholder="username",id = "name",value = "admin",maxlength="20")
    div
      input(type = "password",class = "biji-large-input",id = "password",value = "admin",placeholder = "password",maxlength="20")
    div()
      a(id = "register",class = "oper-link" href = "/register") Register
      a(id = "login",class = "oper-link" href = "#") Login
    div(id = "message" style="color:red;height:30px;")
