extends layout
block css
  link(rel='stylesheet', href='/stylesheets/login.css')
block js
  script(src='/javascripts/login.js')
body
block content
  div(class = "login-container")
    div(id = "message" style="color:red;height:30px;")
    div
      input(type="text",class="biji-input",placeholder="username",id = "name",value = "admin")
    div
      input(type = "password",class = "biji-input",id = "password",value = "admin",placeholder = "password" )
    div(style="text-align:right")
      button(id = "login",class = "btn-large") Login
