extends layout
block css
  link(href="/javascripts/lib/quill/quill.core.css",rel="stylesheet" )
  link(href="/javascripts/lib/quill/quill.snow.css",rel="stylesheet" )
  link(href="/javascripts/lib/quill/quill.bubble.css",rel="stylesheet" )
  link(rel='stylesheet', href='/stylesheets/playground.css')
block js
  script(src="/javascripts/lib/quill/quill.core.js" )
  script(src="/javascripts/lib/quill/quill.min.js" )
  script(src="/javascripts/playground.js" )


body
block content
    include head.jade
    div(id="container")
      div(id="oper-container")
        input(type="text" class="add-input" placeholder="create",maxlength="50" )
        button(id = "add-btn" class="oper-btn" )
          i(class = "material-icons") add
        button(id = "save" class="oper-btn" )
          i(class = "material-icons") save
      div(id="quill-container")
