extends layout
block css
block js
  script(src='/javascripts/register.js')
body
block content
  div(class="form-container")
    div
      input(type="text" id = "name" class="biji-large-input" placeholder="用户名",maxlength="20" )
    div
      input(type="password" id = "password" class="biji-large-input" placeholder="密码",maxlength="20" )
    div
      input(type="password" id = "passwordConfirm" class="biji-large-input" placeholder="密码确认",maxlength="20" )
    div(id="reg-panel")
      a(id = "register",class = "oper-link" href = "#") Register
    div(id = "message" style="color:red;height:30px;")
